.alterar-senha-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.alterar-senha-card {
    width: 400px;
    padding: 2rem;
    background-color: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--card-border-color);
    margin-bottom: 20px;
}

.p-field {
    margin-bottom: 1.5rem;
}

.p-field label {
    font-weight: bold;
    color: var(--text-color);
}

.p-inputtext-sm,
.password-input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
}

.p-inputmask {
    width: 100%;
}

.senha-requisitos p {
    margin: 0;
    font-size: 0.9rem;
}

.senha-requisitos .valid {
    color: var(--success-color);
}

.senha-requisitos .invalid {
    color: var(--error-color);
}

.alterar-senha-button {
    width: 100%;
    background-color: var(--button-background-color);
    border-color: var(--button-border-color);
}

.cancelar-button {
    margin-top: 1rem;
    background-color: var(--register-button-bg-color);
    border-color: var(--register-button-bg-color);
}

.p-invalid {
    border: 1px solid var(--error-color);
}

.p-error {
    color: var(--error-color);
    font-size: 0.875rem;
    margin-top: 0.25rem;
}